body {
  background-color: whitesmoke;
}
h1 {
  color: blue;
}
p {
  font-family: "Franklin Gothic Medium";
  font-style: italic;
  border: 2px solid powderblue;
  padding: 30px;
}

a:link,
a:visited {
  color: white;
  background-color: red;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
}

a:hover {
  color: brown;
  background-color: transparent;
}

a:active {
  color: yellowgreen;
  background-color: transparent;
}
.numbers {
  color: blue;
  background-color: cornsilk;
  text-align: center;
}

.answer {
  color: brown;
  font-family: "Times New Roman", Times, serif;
  background-color: khaki;
}
